      
        <footer class="footer">
          <div class="col-md-10">
          <div class="container">
            <p class="text-muted">&copy; 福爾摩沙 2018 | <a href="/">進站畫面</a> | <a href="mailto:testtest@gmail.com">管理員信箱</a></p>
          </div>
          </div>
        </footer>
    </body>
</html>