<% include ./partials/header %>

<h1>Don</h1>

<img class="aboutme" src="https://i.imgur.com/BrTdhum.jpg">

<p>
<p>
理性的樂觀主義者，INTJ，走在非典型路上的八零後。19 歲騎單車環島旅行，值得一提的是泳渡日月潭；雖是科技人但關心國際、教育、文化等議題。
</p>
<p>
資訊超量的時代，專注學習與生產力開發、雲端工作、知識管理。沒什麼遠大志向，只想堅持理念，持續學習。
</p>

<img class="aboutBike" id="aboutBikeee" src="https://i.imgur.com/g4Yr6fE.jpg">

<img class="aboutSwim" id="aboutSwimmm" src="https://i.imgur.com/WatmrPW.jpg">

<br /><br /><br /><br />

<% include ./partials/footer %>